.layout {
  width: 100%;
  display: flex;
  background-color: var(--color-canvas-inset);
  min-height: calc(100dvh - 64px);
  max-height: calc(100dvh - 64px);
}

.layout__aside {
  width: 350px;
  min-width: 350px;
  min-height: 100%;
  max-height: 100%;
  background-color: var(--color-canvas-default);
  border-right: 1px solid var(--color-border-muted);
}

.layout__main {
  flex: 1;
  overflow: hidden;
}